// pallet color
$bgcolor-1: #59022B;
$bgcolor-2: #73022C;
$bgcolor-3: #A6032F;
$bgcolor-4: #898271;
$bgcolor-5: #1E292F;

@mixin b-position($bg-position...) {
    background-position: $bg-position;
}

@mixin b-image($color1, $color2, $color3) {
    background-image: 
        linear-gradient(90deg, $color1, $color2),
        radial-gradient(transparent 40%, $color3 42%),
        radial-gradient(transparent 40%, $color3 42%),
        url(image/img640x480-1.png)
        ;
    background-blend-mode: color-burn;
}

@mixin children {
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            transform: rotateY(($i+1-2)*10-90deg);
            @include b-position(-50px center, top, bottom, -$i*50px center);
            @include b-image(#000, #111, #0008);
        }
    }
}

.bgcolor-5 { 
    background-color: $bgcolor-5; 

    .carousel {
        border: 1px dotted yellow;
        width: 500px;
        height: 700px;
        position: relative;
        perspective: 500px;

        .carousel__slice {
            width: 52px;
            height: 500px;
            //border: 1px solid #0008; 
            position: absolute;
            left: calc(50% - 27px);
            top: 100px;
            transform-origin: center center -300px;
            background-size: cover, 50px 50px, 50px 50px, auto 400px;
            background-repeat: repeat-x, repeat-x, no-repeat;
            @include b-position(90deg, top, bottom, center);

            @include children;
        }
    }
}