.carousel {
    // border: 1px dotted yellow;
    max-width: 50rem;
    height: 70rem;
    margin: 0 auto;
    position: relative;
    perspective: 50rem;

    &__slice {
        width: 5rem;
        height: 50rem;
        position: absolute;
        left: calc(50% - 2.5rem);
        top: 10rem;
        transform-origin: center center -28rem;
        background-size: cover, 5rem 5rem, 5rem 5rem, auto 40rem;
        background-repeat: repeat-x, repeat-x, no-repeat;
        // @include b-position(90deg, top, bottom, center);

        @include children;
    }
}

@media screen and (max-width: 1000px) {

    .carousel {
        height: 70rem;
        transform: rotate(90deg);
        
        &__slice {

        }
    }
}